fastapi==0.115.0
uvicorn[standard]==0.32.1

# Core
SQLAlchemy==2.0.25
pymysql==1.1.0
python-dotenv==1.0.1

# Validation & forms
pydantic==2.10.3
python-multipart==0.0.20
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# OCR / Image processing
Pillow==10.2.0
pandas==2.2.0
unstract-llmwhisperer==0.6.3
