**/node_modules
**/venv
**/__pycache__
**/*.pyc
**/dist
**/.env
SECURITY/local_backups
SECURITY/*[Bb][Aa][Cc][Kk][Uu][Pp]*
SECURITY/**/*[Bb][Aa][Cc][Kk][Uu][Pp]*
QUARANTINE
DEFACEMENT/attack_backups
DEFACEMENT/**/*[Bb][Aa][Cc][Kk][Uu][Pp]*
